.container {
  background-color: var(--primary-default);
  color: var(--background-default);
  margin: 25px;
}

.toolbar {
  background-color: var(--background-default);
  color: var(--primary-default);
}
